<nav class="navbar navbar-expand-lg navbar-light bg-light" xmlns:th="http://www.w3.org/1999/xhtml">
  <img src="imagenes/logo.jpg" style="width: 150px; height: 100px;"/>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/users}">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/products}">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/carrito}">Carrito</a>
      </li>
    </ul>
  </div>
</nav>
